<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<script th:src="@{/static/js/index.js}"></script>
</head>
<body>
<div layout:fragment="content">
<span class="pagetit">메인화면</span>
<div id="page">
{{message}}</br>
<a th:href="@{/board}">게시판</a></br>
<h2 th:text="${userId}"></h2>
<a th:if="${userId == 'anonymousUser'}" th:href="@{/login}">로그인</a>
<form th:unless="${userId == 'anonymousUser'}" method="post" th:action="@{/logout}">
    <button type="submit">로그아웃</button>
</form>
<a th:if="${userId == 'anonymousUser'}" th:href="@{/signup}">회원가입</a>
</div>
</div>
</body>
</html>