<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:href="@{/static/style/style.css}" rel="stylesheet">
<!--     <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon"> -->
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/ico">

    <script th:src="@{/static/scripts/vue.min.js}"></script>
    <script th:src="@{/static/scripts/vee-validate.min.js}"></script>
    <script th:src="@{/static/scripts/axios.min.js}"></script>
    <script th:src="@{/static/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/static/scripts/lodash.min.js}"></script>
    <script th:src="@{/static/scripts/dayjs.min.js}"></script>
    <script th:src="@{/static/scripts/ko.js}"></script>
    <script th:src="@{/static/scripts/head.js}"></script>
    <title></title>

    <th:block th:if="${!#strings.isEmpty(page)} and ${#strings.equals(page, 'form')}">
        <script th:src="@{/static/scripts/ck-editor/upload-adpater.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/lang/ko.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/vue/ckeditor.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/ckeditor.js}"></script>
        <link th:href="@{/static/style/ck-editor/ck-editor.css}" rel="stylesheet">
        <script th:src="@{/static/scripts/summernote/summernote-lite.min.js}"></script>
        <script th:src="@{/static/scripts/summernote/lang/summernote-ko-KR.min.js}"></script>
        <link th:href="@{/static/style/summernote/summernote-lite.min.css}" rel="stylesheet">
    </th:block>

    <script th:src="@{/static/scripts/common.js}"></script>
</head>
<body>
<div layout:fragment="content"> 공통 레이아웃 </div>

<script type="text/javascript">
$(document).ready(function () {
    document.title = $('.pagetit').text() || $('.login-tit').text();
});
</script>
</body>
</html>