<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:href="@{/static/style/style.css}" rel="stylesheet">
<!--     <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon"> -->
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/ico">

    <script th:src="@{/static/scripts/vue.min.js}"></script>
    <script th:src="@{/static/scripts/vee-validate.min.js}"></script>
    <script th:src="@{/static/scripts/axios.min.js}"></script>
    <script th:src="@{/static/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/static/scripts/lodash.min.js}"></script>
    <script th:src="@{/static/scripts/dayjs.min.js}"></script>
    <script th:src="@{/static/scripts/ko.js}"></script>
    <script th:src="@{/static/scripts/head.js}"></script>
    <title></title>

    <th:block th:if="${!#strings.isEmpty(page)} and ${#strings.equals(page, 'form')}">
        <script th:src="@{/static/scripts/ck-editor/upload-adpater.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/lang/ko.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/vue/ckeditor.js}"></script>
        <script th:src="@{/static/scripts/ck-editor/ckeditor.js}"></script>
        <link th:href="@{/static/style/ck-editor/ck-editor.css}" rel="stylesheet">
        <script th:src="@{/static/scripts/summernote/summernote-lite.min.js}"></script>
        <script th:src="@{/static/scripts/summernote/lang/summernote-ko-KR.min.js}"></script>
        <link th:href="@{/static/style/summernote/summernote-lite.min.css}" rel="stylesheet">
    </th:block>

    <script th:src="@{/static/scripts/common.js}"></script>
</head>
<body>
<th:block layout:fragment="header">
<div id="header" class="header">
  <a class="logo" th:href="@{/}"></a>
  
  <button type="button" @click="fnToggleSidebar" class="side-bar-btn" :class="{active : toggle}">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="side-bar" :class="{active : toggle}">
  	<ul>
	    <li><a th:href="@{/board}">게시판</a></li>
	    <li><a th:href="@{/custom-swagger/swagger-ui/index.html}">Swagger</a></li>
	    <li><a th:href="@{#}">네비2</a></li>
	    <li><a th:href="@{#}">네비3</a></li>
	    <li><a th:href="@{#}">네비4</a></li>
    </ul>
  </div>

  <div class="user-area">
   <h2 th:text="${userId == 'anonymousUser' ? '로그인 하세요' : '환영합니다!&nbsp;' + userId  + '&nbsp;님'}"></h2>
   <a th:if="${userId == 'anonymousUser'}" th:href="@{/member-login}">로그인</a>
   <form th:unless="${userId == 'anonymousUser'}" method="post" th:action="@{/logout}">
       <!-- @click : List sessionStorage option 삭제 -->
       <button type="submit" @click="sessionStorage.removeItem('pageOptions');">로그아웃</button>
   </form>
   <a th:if="${userId == 'anonymousUser'}" th:href="@{/member-signup}">회원가입</a>
  </div>

	<select>
	  <option>option1</option>
	  <option>option2</option>
	  <option>option3</option>
	</select>
</div>
</th:block>
<th:block layout:fragment="content"> 공통 content </th:block>
</body>
<th:block layout:fragment="footer">
  <div>공통 footer</div>
</th:block>
</html>