<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    
    <link th:href="@{/static/style/style.css}" rel="stylesheet">
    
    <script th:src="@{/static/scripts/vue.min.js}"></script>
    <script th:src="@{/static/scripts/vee-validate.min.js}"></script>
    <script th:src="@{/static/scripts/axios.min.js}"></script>
    <script th:src="@{/static/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/static/scripts/lodash.min.js}"></script>
    <script th:src="@{/static/scripts/dayjs.min.js}"></script>
    <script th:src="@{/static/scripts/ko.js}"></script>
    <script th:src="@{/static/scripts/head.js}"></script>
    <script th:src="@{/static/scripts/common.js}"></script>
    <title></title>
</head>
<body>
<div layout:fragment="content"> 공통 레이아웃 </div>

<script type="text/javascript">
$(document).ready(function () {
    document.title = $('.pagetit').text() || $('.login-tit').text();
});
</script>
</body>
</html>