<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<body>
<head>
<script th:src="@{/static/js/board/board-detail.js}"></script>
</head>
<body>
	<div id="page" layout:fragment="content">
		<span class="pagetit">게시글 상세</span></br>
		<div class="mt0 card-wrap">
			<div class="card">
				<fieldset class="mt10">
					<div class="form-wrap">
                       <div class="form-row">
                            <span class="pt0 form-label">조회수​</span>
                            <div class="form-field">
                                <p class="form-txt">{{result.count}}​</p>
                            </div>
                        </div>
                        <span class="card-hr"></span>
						<div class="form-row">
							<span class="pt0 form-label">아이디​</span>
							<div class="form-field">
								<p class="form-txt">{{result.userId}}​</p>
							</div>
						</div>
						<span class="card-hr"></span>
						<div class="form-row">
							<span class="pt0 form-label">제목​</span>
							<div class="form-field">
								<p class="form-txt">{{result.title}}​</p>
							</div>
						</div>
						<span class="card-hr"></span>
						<div class="form-row">
							<span class="pt0 form-label">내용​</span>
							<div class="form-field">
								<p class="form-txt" v-html="result.content">​​</p>
							</div>
						</div>
						<span class="card-hr"></span>
						<div class="form-row">
							<span class="pt0 form-label">작성일​</span>
							<div class="form-field">
								<p class="form-txt">{{dayjs(result.registDate).format('YYYY.MM.DD HH:mm:ss')}}​​</p>
							</div>
						</div>
						<div v-if="!(result.registDate === result.modifyDate)">
							<span class="card-hr"></span>
							<div class="form-row">
								<span class="pt0 form-label">수정일​</span>
								<div class="form-field">
									<p class="form-txt">{{dayjs(result.modifyDate).format('YYYY.MM.DD HH:mm:ss')}}​​</p>
								</div>
							</div>
						</div>
                        <div v-if="result.fileEntity">
                            <span class="card-hr"></span>
                            <div class="form-row">
                                <span class="pt0 form-label">파일 다운로드</span>
                                <div class="form-field">
                                    <a :href="filePath"><p class="form-txt">{{result.fileEntity.orignFileNm}}</p></a>
                                </div>
                            </div>
                        </div>
					</div>
				</fieldset>
			</div>
			<div class="card-btn-box noline flex-box flex-spc-btw">
				<div class="lt"></div>
				<div class="rt">
					<button v-if="result.userId == result.authUserId" type="button" class="btn solidbtn md mo-full sm-h pink" @click.prevent="fnUpdate">수정</button>
					<button type="button" class="btn solidbtn md mo-full sm-h lightblue" @click.prevent="fnList">목록</button>
					<button v-if="result.userId == result.authUserId" type="button" class="btn solidbtn md mo-full sm-h black" @click.prevent="fnDelete">삭제</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>