<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
    <script th:src="@{/static/scripts/summernote/summernote-lite.min.js}"></script>
    <script th:src="@{/static/scripts/summernote/lang/summernote-ko-KR.min.js}"></script>
    <link th:href="@{/static/style/summernote/summernote-lite.min.css}" rel="stylesheet">
    
    <script th:src="@{/static/scripts/ck-editor/vue/ckeditor.js}"></script>
    <script th:src="@{/static/scripts/ck-editor/ckeditor.js}"></script>
    <script th:src="@{/static/scripts/ck-editor/upload-adpater.js}"></script>
    <script th:src="@{/static/scripts/ck-editor/lang/ko.js}"></script>
    <link th:href="@{/static/style/ck-editor/ck-editor.css}" rel="stylesheet">
    
    <script th:src="@{/static/js/board/board-form.js}"></script>	
</head>
<body>
	<div id="page" layout:fragment="content">
		<span class="pagetit">{{ result.id ? '게시글 수정' : '게시글 등록' }} </span></br>
		<span>{{ errors.first('title') }}</span>
		<span class="form-label">제목 *</span>
		<div class="form-field">
			<input type="text" class="form-input full" id="title" name="title" maxlength="50" v-model="result.title" v-validate="'required'" />
		</div>
        <span>{{ errors.first('content') }}</span>
		<span class="form-label">내용​ *</span>
		<div class="form-field">
			<!-- <textarea name="content" id="summernote" v-model="result.content"></textarea> -->
			<ckeditor :editor="editor" @ready="onReady" id="content" name="content" v-model="result.content" :config="editorConfig" tag-name="textarea" v-validate="'required'"></ckeditor>
		</div>
		<div v-if="result.fileEntity">
			<span class="form-label">파일</span>
	        <div class="form-field">
	            <input type="text" class="form-input full" id="fileName" name="fileName" 
	            maxlength="20" v-model="result.fileEntity.orignFileNm" disabled="disabled"/>
	        </div>
        </div>
		<div class="input-container"> 
		    <input @change="$fileSelect()" type="file" ref="imgFile" /> 
		</div>
		<div class="card-btn-box noline flex-box flex-spc-btw">
		    <div class="lt"></div>
		    <div class="rt">
				<button type="button" class="btn solidbtn md mo-full sm-h pink" @click.prevent="fnSave">{{ result.id ? '수정' : '등록' }}</button>
				<button type="button" class="btn solidbtn md mo-full sm-h black" @click.prevent="fnCancel">취소</button>
			</div>
	</div>
</body>
</html>