<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<script th:src="@{/static/js/board/board.js}"></script>
</head>
<body>
	<div id="page" layout:fragment="content">
        <div class="tbl-sort-box flex-box flex-spc-btw">
			<span class="pagetit">게시글 리스트</span>
                <select class="form-select" v-model="srchKey">
                    <option v-for="data in srchOptions" :value="data.value">
                       {{ data.text }}
                    </option>
                </select>
                <span class="form-search">
                    <input type="text" class="form-input"  :maxlength="20" v-model="srchVal" @keydown.enter.prevent="fnGetList(0)" />
                    <button class="btn" @click.prevent="fnGetList(0)"></button>
                </span>
				<select class="form-select" id="pageSizeSelector" v-model="pageSize" @change="fnGetList(0)">
					<option v-for="data in options" :value="data">
					   {{ data }}개씩
					</option>
				</select>
		</div>
		<table class="list-tbl">
			<tr>
				<th>No</th>
				<th>제목</th>
				<!--<th>내용</th>-->
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			<tbody v-if="result.empty">
				<tr>
					<td colspan="15" class="fs16 fc-lightgrey" style="text-align: center;">조회된 내용이 없습니다.</td>
				</tr>
			</tbody>
			<tbody class="list" v-else>
				<tr v-for="(data, index) in result.content" @click="goRegOrDetail(data.id)">
					<td class="efw500">{{result.totalElements - index - (result.pageable.pageNumber * result.pageable.pageSize)}}</td>
					<td>{{data.title}}</td>
					<!--/**<td style="text-overflow: ellipsis; overflow: hidden">{{data.content.replace(/(<([^>]+)>)/ig,"")}}</td>**/-->
					<td>{{data.userId}}</td>
					<td>{{dayjs(data.registDate).format('YYYY.MM.DD HH:mm')}}</td>
					<td class="efw500">{{data.count}}</td>
				</tr>
			</tbody>
		</table>
		<div class="page_wrap">
	        <div class="page_nation">
	            <a v-if="!result.first" class="arrow prev" @click="fnGetList(pageIndex - 1)"></a>
	            <a v-for="(data, index) in pagingList" :class="{active : pageIndex === data-1}" @click="fnGetList(data-1)">{{data}}</a>
	            <a v-if="!result.last" class="arrow next" @click="fnGetList(pageIndex + 1)"></a>
	        </div>
        </div>
		<div class="card-btn-box noline flex-box flex-spc-btw">
			<div class="lt"></div>
			<div class="rt">
                <a href="javascript:void(0);" class="blue btn md sm-h solidbtn" @click="downloadExcel()">엑셀 다운로드</a>
				<button type="button" class="btn solidbtn md mo-full sm-h pink" @click="goRegOrDetail()">등록</button>
				<button type="button" class="btn solidbtn md mo-full sm-h lightblue" @click="location.href='/'">이전</button>
			</div>
		</div>
	</div>
</body>
</html>