<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="paginate" class="page-wrap">
		<div class="page-nation">
			<a class="arrow block-prev"              :class="{'cursor-default': page.first}"                           @click="page.first ? void(0) : fnPage($event, page.numbers[0]-6)"></a>
			<a class="arrow prev"                    :class="{'cursor-default': page.first}"                           @click="page.first ? void(0) : fnPage($event, page.number-1)"></a>
			<a v-for="(data, index) in page.numbers" :class="[page.number === data-1 ? 'active cursor-default' : '']"  @click="page.number === data-1 ? void(0) : fnPage($event, data-1)">{{data}}</a>
			<a class="arrow next"                    :class="{'cursor-default': page.last}"                            @click="page.last ? void(0) : fnPage($event, page.number+1)"></a>
			<a class="arrow block-next"              :class="{'cursor-default': page.last}"                            @click="page.last ? void(0) : fnPage($event, page.numbers[0]+4)"></a>
		</div>
	</div>
</body>
</html>