<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script th:src="@{/static/scripts/vue.min.js}"></script>
    <script th:src="@{/static/scripts/axios.min.js}"></script>
    <script th:src="@{/static/scripts/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/static/js/board.js}"></script>
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content"> 공통 레이아웃 </div>
</body>
</html>