<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="error-info" layout:fragment="content">
    <ul>
      <li>
        404 ERROR
        <em>페이지를 찾을 수 없습니다.</em>
      </li>
        <li th:text="${errorResponse.timestamp}"></li>
        <li th:text="${errorResponse.status}"></li>
        <li th:text="${errorResponse.error}"></li>
        <li th:text="${errorResponse.message}"></li>
        <li th:text="${errorResponse.path}"></li>
    </ul>
  </div>
</body>
</html>